<h1>Users List</h1>
<p>Here you'll find all users in db</p>
<% @users.each do |user| %>
    <div class="user__card">
        <p><%= user.name %></p>
        <p><%= user.age %></p>                    
    </div>
<% end %>