<h1>Add new User</h1>
<p>Fill this form and click on create to add new user</p>

<p>To go back to Users List: <%= link_to "Users", users_path %></p>

<div class="form">
  <%= render "form", user: @user %>
</div>
